// MenuBurger style
.sidenav {
  display: flex;
  justify-content: center;
  background-color: #c1b09e;
  z-index: 2;
  height: 100%;
  width: 49%;
  position: fixed;
  top: 0;
  right: -49%;
  overflow: hidden;
  padding-top: 10px;
  border-left: solid 2px black;
  transition: right 0.3s ease;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.sidenav.active {
  right: 0;
}

.sidenav a {
  font-family: "roboto";
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  color: #746458;
  display: block;
  text-decoration: underline;
  text-decoration-color: #3a322c;
}
.sidenav a:hover {
  color: #746458;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  list-style-type: none;
  margin-top: 60px;
}
.sidenav .close {
  position: absolute;
  top: -20px;
  right: 10px;
  margin-top: 20px;
  font-size: 25px;
}

.menu-svg {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .burger-icon {
    display: none;
  }

  .sidenav {
    display: flex;
    position: static;
    width: auto;
    background-color: transparent;
    border-left: none;
    padding-top: 0;
    height: auto;
  }
  .sidenav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: -15px;
  }

  .sidenav a {
    color: #c1b09e;
  }
  .sidenav .close {
    display: none;
  }
}
